<div class="col-sm-6">
  <div class="height-400">
    <%= link_to "/", id: "sock-upload-image" do %>
      <div class="bordered">
        <div class="image-container">
          <%= image_tag "photo-icon.png", id: "polaroid-image" %>
          <%= image_tag "icon.png", size: "150", id: "sock-image" %>
        </div>
        <h2 class="text-center"> click here to upload your sock image</h2>
      </div>
    <% end %>

    <div class="sock-upload-form">
      <%= simple_form_for @sock, html: { multipart: true } do |f| %>
        <%= f.file_field :avatar, class: "hidden" %>
        <%= f.button :submit, class: "hidden" %>
      <% end %>
    </div>
  </div>
</div>
