<div class="row">
  <div class="col-sm-6">
    <div class="height-400">
      <h2> Your order </h2>
      <p> <b> Fabric: </b> <%= @sock.fabric %></p>
      <p> <b> Height: </b><%= @sock.height %></p>
      <p> <b> Size: </b><%= @sock.size %></p>
      <p> <%= "All-toe separation" if @sock.toes_separator %></p>
      <p> <%= "Big-toe separation" if @sock.big_toe_separator %></p>
      <p> <%= "Padded heel" if @sock.heel_padding %></p>
      <% if !(@sock.comments == "") %>
        <p> <b> Additional comments: </b> <%= @sock.comments %> </p>
      <% end %>
      <%= image_tag(@sock.avatar_url, class: "img-thumbnail smaller-img") if @sock.avatar? %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="height-400">
      <div class="register-or-not">
        <%= link_to "Register to save and complete your sock order", work_in_progress_sock_path, class: "btn btn-default center-block"  %>
        </br>
        <%= link_to "Check out without registering", work_in_progress_sock_path, class: "btn btn-default center-block"  %>
      </div>
    </div>
  </div>
</div>
