<div class="row">
  <div class="col-sm-6">
    <div class="height-400">
      <h2> Your order </h2>
      <p> <b> Fabric: </b> <%= @sock.fabric %></p>
      <p> <b> Height: </b><%= @sock.height %></p>
      <p> <b> Size: </b><%= @sock.size %></p>
      <p> <%= "All-toe separation" if @sock.toes_separator %></p>
      <p> <%= "Big-toe separation" if @sock.big_toe_separator %></p>
      <p> <%= "Padded heel" if @sock.heel_padding %></p>
      <% if !(@sock.comments == "") %>
        <p> <b> Additional comments: </b> <%= @sock.comments %> </p>
      <% end %>
      <%= image_tag(@sock.avatar_url, class: "img-thumbnail smaller-img") if @sock.avatar? %> </br></br>
      <%= link_to "Edit", edit_sock_path(@sock) %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="height-400">
      <%= render 'orders/form', layout: false, object: @order %>
    </div>
  </div>
</div>
