<div class="payment-form-container">
  <h3>Payment Form:</h3>
  <span class="payment-errors"></span>
  <%= form_for @order, html: {class: "well"} do |f| %>
    <%= f.hidden_field :sock_id %>
    <%= f.hidden_field :amount %>
    <div class="field">
        <%= label_tag :amount, "Amount" %>
        <%= text_field_tag :amount, number_to_currency((@order.amount / 100)), readonly: true %>
    </div>
    <div class="field">
        <%= label_tag :card_number, "Credit Card Number " %>
        <%= password_field_tag :card_number, nil, name: nil, :"data-stripe" => "number" %>
    </div>
    <div class="field">
        <%= label_tag :card_code, "Security Code on Card (CVV)" %>
        <%= password_field_tag :card_code, nil, name: nil, :"data-stripe" => "cvc" %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month", :"data-stripe" => "exp-month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :"data-stripe"=> "exp-year"} %>
    </div>
    <div class="field">
      <%= label_tag :description, "Description for your records" %>
      <%= text_field :order, :description  %>
    </div>
    <div class="actions"><%= f.submit "Order" %></div>
  <% end %>
</div>
<div class="well alert-danger test-credentials">  Test credit card details
  <ul>
    <li> Number: "4242424242424242" </li>
    <li> CVV: any 3-digits</li>
    <li>Expiry: any future date </li>
  </ul>
  Please don't use your real credit card details :)
</div>
